@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.header {
    height: 1em;
    font-size: 2em;
    padding: 5em;
    background-image: url("../imgs/maniquies.jpg");
    background-size: cover;
    background-position: center;


}

.header h1 {
    margin: 0em;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

span {
    color: #780000;
}

body {
    background-image: url("../imgs/background-image.jpg");
    background-size: contain;
    background-position: center;

}

table {
    border-spacing: 1em 1em;

}

td {
    text-align: center;
    font-size: large;

}


.products {
    width: 50%;
    margin: 5em auto auto auto;
}

.products td {
    width: 50%;
    padding: 0;
    border-radius: 1em;


}

.products img {
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 1em;

}

.resaltar {

    background-color: #ddd;
    opacity: 0.6;

}

.info-curso {

    font-weight: 600;
    text-align: center;
    padding: 1em 1em 1em 1em;


}

.titulo-curso {
    text-shadow: 10px 10px 10px #000;
    color: #780000;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
}

#email {

    width: 100%;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    border: 1px solid #CD5C5C;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    width: 100%;
    background-color: #780000;
    color: white;
    padding: 1em 1.5em;
    margin: 1em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: #CD5C5C;

}

#form {
    height: 50%;
    width: 50%;
    border-radius: 4px;
    background-image: url("../imgs/background-form.jpg");
    padding: 1em 1em 1em 1em;
    margin: 5em auto 5em auto;
    background-size: cover;

}


h3 {
    text-align: center;
    font-weight: 400;
    color: #780000;
    font-family: 'Roboto Slab', serif;
    background-color: #CD5C5C;
    padding: 1em 1em 1em 1em;

}


.footer {
    height: 8em;
    line-height: 4em;
    background-color: #780000;
    color: white;
    text-align: center;
    font-weight: bolder;

}